{
    "plugins": [
        ["babel-plugin-inline-import", {
            "extensions": [
                ".wgsl",
                ".glsl"
            ]
        }]
    ],
    "presets": ["next/babel"]
}
